.container {
	background-color: rgba(252, 252, 252, 0.397);
	margin: 0 auto;

	width: 465px;
	height: 44%;
	/* border: 3px rgb(122, 122, 122)solid ; */
  /* margin-bottom: 5px; */
  border-radius: 10px;
	color:#fff;
	overflow:auto;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
}

#respTable {
	width: 100%;
	display: table;
}
img{
	width: 140px;
 
}
#respTableCaption{
		display: table;
		margin: 0 auto;
		margin-top: 10px;
		text-align: center;
		font-size: 30px;
		font-weight:normal;
		overflow:auto;
		width: 50%;
		height: 20%;
}

.h5{
	display: flex;
	align-self: flex-start;
}
	

#respTableBody{
	display: table-row-group;
}

.respTableRow{
	display: table-row;
}

.tableBodyCell{
	display: table-cell;
	padding-left: 15px;    
	padding-right: 40px;
}

.input{
	display: flex;
	align-items: center;
}



@media (max-width: 600px) {
	.container {
		background-color: rgba(252, 252, 252, 0.397);
		margin: 0 auto;
	
		width: 450px;
		height: 37%;
		/* border: 3px rgb(122, 122, 122)solid ; */
		/* margin-bottom: 5px; */
		border-radius: 10px;
		color:#fff;
		overflow:auto;
		box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
	}
	.tableBodyCell{
		display: table-cell;
		padding-left: 15px;    
		padding-right: 40px;
	}
img{
	width: 117px;
   
}

}
@media (max-width: 550px) {
	.container {
		background-color: rgba(252, 252, 252, 0.397);
		margin: 0 auto;
	
		width: 410px;
		height: 37%;
		/* border: 3px rgb(122, 122, 122)solid ; */
		/* margin-bottom: 5px; */
		border-radius: 10px;
		color:#fff;
		overflow:auto;
		box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
	}
	
.tableBodyCell{
	display: table-cell;
	padding-left: 15px;    
	padding-right: 40px;
}
img{
	width: 100px;

}
}

@media (max-width: 500px) {
	img{
		width: 92px;
	}
	.container {
		background-color: rgba(252, 252, 252, 0.397);
		margin: 0 auto;
	
		width: 372px;
		height: 33%;
		/* border: 3px rgb(122, 122, 122)solid ; */
		/* margin-bottom: 5px; */
		border-radius: 10px;
		color:#fff;
		overflow:auto;
		box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
	}
}

@media (max-width: 414px) {
	img{
		width: 115px;
		
	}
	.container {
		background-color: rgba(252, 252, 252, 0.397);
		margin: 0 auto;
	
		width: 372px;
		height: 33%;
		/* border: 3px rgb(122, 122, 122)solid ; */
		/* margin-bottom: 5px; */
		border-radius: 10px;
		color:#fff;
		overflow:auto;
		box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
	}
}

@media (max-width: 380px) {
	img{
		width: 115px;
			
	}
	.container {
		background-color: rgba(252, 252, 252, 0.397);
		margin: 0 auto;
	
		width: 330px;
    height: 25%;
		/* border: 3px rgb(122, 122, 122)solid ; */
		/* margin-bottom: 5px; */
		border-radius: 10px;
		color:#fff;
		overflow:auto;
		box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
	}
}

@media (max-width: 320px) {
	img{
		width: 115px;
	}
	.container {
		background-color: rgba(252, 252, 252, 0.397);
		margin: 0 auto;
	margin-right: 66px;
		width:298px;
		height: 30%;
		/* border: 3px rgb(122, 122, 122)solid ; */
		/* margin-bottom: 5px; */
		border-radius: 10px;
		color:#fff;
		overflow:auto;
		box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
	}
}

