.container {
	margin: 0 auto;
	/* text-align: center; */
	/* padding: 10px; */
	/* border: 2px #fffb04 solid; */
	
  /* background-color: #272727; */
	/* height: 1200px; */
}


#respTable {
	width: 100%;
	display: table;
}
img{
	width: 165px;
    padding: 11px;
}
#respTableCaption{
		display: table;
		margin: 0 auto;
		margin-top: 10px;
		text-align: center;
		font-size: 30px;
		font-weight:normal;
}


#respTableCaption h1{
	font-size: 25px;
	color: rgb(65, 65, 65);
	}
	

.tableHeaderCell{
	display: table-cell;
	padding: 10px;
	text-align: justify;
	border-bottom: 1px solid black;
	
}

#respTableBody{
	display: table-row-group;
}

.respTableRow{
	display: table-row;
}

.tableBodyCell{
	display: table-cell;
	padding-left: 15px;    
	padding-right: 40px;
}

.input{
	display: flex;
	align-items: center;
}



@media (max-width: 600px) {

	.tableBodyCell{
		display: table-cell;
		padding-left: 15px;    
		padding-right: 40px;
	}
img{
	width: 117px;
    padding: 11px;
}

}
@media (max-width: 550px) {
	
.tableBodyCell{
	display: table-cell;
	padding-left: 15px;    
	padding-right: 40px;
}
img{
	width: 100px;
    padding: 7px;
}
}

@media (max-width: 500px) {
	img{
		width: 92px;
			padding: 7px;
	}
}

@media (max-width: 414px) {
	img{
		width: 115px;
			padding: 7px;
	}
}

@media (max-width: 380px) {
	img{
		width: 115px;
			padding: 7px;
	}
}

@media (max-width: 320px) {
	img{
		width: 115px;
	}
}

