.flex{
	margin: 6px 0px auto;
}

#respTable {
	width: 91%;
	display: table;
}

#respTableCaption{
		display: table;
		margin: 0 auto;
		margin-top: 10px;
		text-align: start;
		font-size: 30px;
		font-weight:normal;
}

#respTableCaption h5{
color: rgb(65, 65, 65);
}

.tableHeaderCell{
	display: table-cell;
	/* padding: 5px; */
	text-align: justify;
	border-bottom: 1px solid black;
	
}

#respTableBody{
	display: table-row-group;
}

.respTableRow{
	display: table-row;
}

.tableBodyCell{
	display: table-cell;
	padding-left: 15px;    
	padding-right: 15px;
}

.input{
	display: flex;
	align-items: center;
}



@media (max-width: 550px) {
	.flex{
		margin: 6px 0px auto;

	}
}

@media (max-width: 500px) {
	.flex{
		margin: 6px 0px auto;
	}
}

@media (max-width: 462px) {
	.flex{
		margin: 6px 0px auto;
	  margin-left: 15%;
	}
}

@media (max-width: 380px) {
	.flex{
		margin: 6px 0px auto;
	  margin-left: 25%;
	}
}

@media (max-width: 320px) {
	.flex{
		margin: 6px 0px auto;
	  margin-left: 37%;
	}
}
