.container {
	display: flex;
	background-color: rgba(80, 80, 80, 0.637);
	margin: 0 auto;
	width: 700px;
	height: 70%;
  margin-bottom: 20px;
  border-radius: 10px;
	color:#fff;
	overflow:auto;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
}

.boxPhoto{
	border: 1px rgb(255, 238, 6) dotted;
	width: 70%;
	height: 387px;
	align-self: center;
	margin-left:15%;
	padding: 50px;

}
.photoIcon{
	padding: inherit;
	color: #ebfc055e;
}
.photoIcon:hover{
	color: #000000af;
}

.input{
width: 90%;
margin-top: 20%;
}

.folder{
	align-self: flex-end;
	margin-left: 5%;
	margin-bottom: 1%;
	}
	.icon{
		color: #272727;
	}
	.icon:hover{
		color:#030300;
	}

@media (max-width: 600px) {
	.container {
		background-color: rgba(80, 80, 80, 0.637);	
		width: 95%;
	margin: 0 auto;
	max-height: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
	color:#fff;
	overflow:auto;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
}
.folder{
	align-self: flex-end;
	margin-left: 5%;
	margin-bottom: 3%;
	}
	.icon{
		color: #272727;
	}
	.icon:hover{
		color:#030300;
	}
	.boxPhoto{
		border: 1px rgb(255, 238, 6) dotted;
		width: 70%;
		height: 387px;
		align-self: center;
		margin-left:15%
	}
	.photoIcon{
		padding: inherit;
		color: #ebfc055e;
	}
	.photoIcon:hover{
		color: #000000af;
	}
	
	.input{
		width: 90%;
		margin-top: 20%;
		margin: 0 auto;
    margin-left: -22%;
		}
	.label{
			padding-right: 83px;
    margin-right: -55px;
	}	
	
}

@media (max-width: 500px) {
	.container {
		background-color: rgba(80, 80, 80, 0.637);
		width: 95%;
	margin: 0 auto;
	max-height: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
	color:#fff;
	overflow:auto;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
}
.folder{
	align-self: flex-end;
	margin-left: 5%;
	margin-bottom: 3%;
	}

	.boxPhoto{
		border: 1px rgb(17, 17, 17) dotted;
		width: 70%;
		height: 387px;
		align-self: center;
		margin-left:15%
	}
	
	.input{
		width: 90%;
		margin-top: 20%;
		}
		.photoIcon{
		color: #ebfc055e;
	}
	.photoIcon:hover{
		color: #000000af;
	}
	.icon{
		color: #272727;
	}
	.icon:hover{
		color:#030300;
	}

	.label{
		padding-right: 83px;
	margin-right: -55px;
}	
}


@media (max-width: 414px) {
	.container {
		background-color: rgba(80, 80, 80, 0.637);
		width: 95%;
	margin: 0 auto;
	max-height: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
	color:#fff;
	overflow:auto;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
}
.folder{
	align-self: flex-end;
	margin-left: 5%;
	margin-bottom: 3%;
	}
	.boxPhoto{
		border: 1px rgb(255, 238, 6) dotted;
		width: 70%;
		height: 387px;
		align-self: center;
		margin-left:15%
	}
	.photoIcon{
		color: #ebfc055e;
	}
	.photoIcon:hover{
		color: #000000af;
	}
	.input{
		width: 90%;
		margin-top: 20%;
		margin: 0 auto;
    margin-left: -30%;
		}
	
	.icon{
		color: #272727;
	}
	.icon:hover{
		color:#030300;
	}

	.label{
		padding-right: 83px;
	margin-right: -55px;
}	
}



@media (max-width: 375px) {
	.container {
		background-color: rgba(80, 80, 80, 0.637);
		width: 95%;
	margin: 0 auto;
	max-height: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
	color:#fff;
	overflow:auto;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
}
.folder{
	align-self: flex-end;
	margin-left: 10%;
	margin-bottom: 3%;
	}
	.boxPhoto{
		border: 1px rgb(255, 238, 6) dotted;
		width: 70%;
		height: 387px;
		align-self: center;
		margin-left:15%
	}
	.photoIcon{
		color: #ebfc055e;
	}
	.photoIcon:hover{
		color: #000000af;
	}
	.input{
		width: 90%;
		margin-top: 20%;
		}
	
	.icon{
		color: #272727;
	}
	.icon:hover{
		color:#ffe600;
	}

	.label{
		padding-right: 83px;
	margin-right: -55px;
}	
}

@media (max-width: 320px) {
	.container {
		background-color: rgba(80, 80, 80, 0.637);
		width: 95%;
	margin: 0 auto;
	max-height: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
	color:#fff;
	overflow:auto;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px #000000;
}
.folder{
	align-self: flex-end;
	margin-left: 10%;
	margin-bottom: 1%;
	}
	.boxPhoto{
		border: 1px rgb(255, 238, 6) dotted;
		width: 70%;
		height: 387px;
		align-self: center;
		margin-left:15%
	}
	.photoIcon{
		color: #ebfc055e;
	}
	.photoIcon:hover{
		color: #000000af;
	}
	.input{
		width: 90%;
		margin-top: 20%;
		}
	
	.icon{
		color: #272727;
	}
	.icon:hover{
		color:#ffe600;
	}

	.label{
		padding-right: 83px;
	margin-right: -55px;
}	
}
